<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Some Website</title>
  </head>
  <body>
    <h1>Oops, Sorry.</h1>
    <p>Our server is under maintenance now. Please visit later.</p>
  </body>
</html>